/*General styling*/

/* Setting font for all paragraphs and margins */
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  color: white;
  background-color: rgb(23, 24, 26);
  font-family: "Roboto","Arial",sans-serif;
  margin: 0;
  padding-top: 110px;
  padding-left: 110px;
  padding-right: 24px;
}

.title-icon {
  height: 20px;
}