/* Creating header styling */

/*Creating horizontal layout*/
.header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(23, 24, 26);
  z-index: 100;
}


/*Left section of the youtube header*/
.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 16px;
  margin-left: 21px;
  margin-right: 20px;
  cursor: pointer;
}

.youtube-logo {
  height: 18px;
  margin-left: 5px;
}


/*Middle section of the youtube header*/
.middle-section {
  flex: 1;
  margin-left: 40px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 28px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(48, 48, 48);;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background-color: rgb(23, 24, 26);
  box-shadow: inset 1px 2px 3px rgba(255, 255, 255, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-size: 12px;
}

.search-button {
  height: 32px;
  width: 50px;
  background-color: rgb(40, 40, 40);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(48, 48, 48);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 0.8px;
  margin-right: 10px;
}

.search-button, 
.voice-search-button,
.upload-icon-container,
.notification-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.notification-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -35px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon {
  height: 18px;
}

.voice-search-button {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: transparent;
  border: none;
  background-color: rgb(40, 40, 40);
}

.voice-search-icon {
  height: 19px;
}

/*Right section of the youtube header*/
.right-section {
  width: 180px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
}

.upload-icon {
  height: 20px;
}

.notification-icon {
  height: 16px;
}

.notification-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -5px;
  right: -7px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 8px; 
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 50%;
}

.current-user-picture {
  height: 25px;
  border-radius: 16px;
}